<div>
  <h1>Shortly App</h1>
  <div class="navigation">
    <ul>
      <li><a href="/">All Links</a></li>
      <li><a href="/create">Shorten</a></li>
      <li><a href="/login">Log In</a></li>
      <li><a href="" ng-click="logOut()">Log Out</a></li>
    </ul>
  </div>
</div>
<div ng-view=""></div>