<html ng-app>
<head>
  <title>Shortly</title>
  <script src="/client/app.js"></script>
  <script src="/client/angular/angular.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <%= yield %>
</body>
</html>
